@charset "UTF-8";

:root {
  --soft-white: #efefef;
  --soft-black: #333;
}

/* A maioria do reset de estilos é feito no arquivo "reset.css" */
* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  color: var(--soft-black);
  background-color: var(--soft-white);
  display: flex;
  justify-content: center;
}

#container {
  margin-top: 50px;
  width: 95vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

#inputs-container {
  gap: 15px;
  width: 325px;
  margin: 35px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#inputs-container input {
  height: 27px;
  width: 180px;
  outline-color: blue;
  border-radius: 10px;
  border: 1px solid var(--soft-black);
}

#inputs-container input::placeholder {
  text-align: center;
  font-size: 1rem;
}

#add-card-button {
  border: 1px solid var(--soft-black);
  padding: 2px 5px;
  background-color: #fff;
  color: inherit;
  border-radius: 5px;
  outline-color: blue;
  transition: .3s ease-in;
}

#add-card-button:hover {
  transform: scale(95%);
  cursor: pointer;
}

#add-card-button:active {
  background-color: var(--soft-white);
}

#cards-total {
  padding-bottom: 35px;
}

#cards-container {
  gap: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.card {
  border: 1px solid var(--soft-black);
  border-radius: 10px;
  width: 150px;
  height: 242px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: .3s ease-in;
}

.card:hover {
  transform: scale(95%);
  cursor: pointer;
}

.card-text {
  margin: auto 0;
}

.front {
  background-color: #bbffbb;
}

.back {
  background-color: #bbbbff;
}

.delete-card-button {
  margin-bottom: 5px;
  font-size: 20px;
  background-color: transparent;
  border: none;
  padding-top: 0;
  padding-bottom: 0;
}

.delete-card-button:hover {
  transform: scale(95%);
  cursor: pointer;
}
