@charset "UTF-8";

:root {
  --soft-white: #efefef;
  --soft-black: #333;
  --card-front-color: #bbbbff;
  --card-back-color: #bbffbb;
}

/* A maioria do reset de estilos é feito no arquivo "reset.css" */
* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  color: var(--soft-black);
  background-color: var(--soft-white);
  display: flex;
  justify-content: center;
}

#container {
  margin-top: 50px;
  width: 95vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

#inputs-container,
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#inputs-container {
  gap: 15px;
  width: 325px;
  margin: 35px auto;
}

#inputs-container input {
  height: 27px;
  width: 180px;
  outline-color: blue;
  border-radius: 10px;
  border: 1px solid var(--soft-black);
}

#inputs-container input::placeholder {
  text-align: center;
  font-size: 1rem;
}

#add-card-button,
.card {
  transition: .3s ease-out;
}

#add-card-button {
  border: 1px solid var(--soft-black);
  padding: 2px 5px;
  background-color: #fff;
  color: inherit;
  border-radius: 5px;
  outline-color: blue;
}

#add-card-button:hover,
.card:hover,
.delete-card-button:hover {
  transform: scale(.95);
  cursor: pointer;
}

#add-card-button:active {
  background-color: var(--soft-white);
}

.delete-card-button {
  font-size: 20px;
  background-color: transparent;
  border: none;
  position: absolute;
  bottom: 0;
}

#cards-total {
  padding-bottom: 35px;
}

#cards-container {
  gap: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.flip-box {
  background-color: transparent;
  width: 150px;
  height: 242px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  border-radius: 10px;
  box-shadow: 3px 7px 9px rgba(0, 0, 0, .5);
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  border-radius: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  font-weight: bold;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flip-box-front {
  background-color: var(--card-front-color);
}

.flip-box-back {
  background-color: var(--card-back-color);
  transform: rotateY(180deg);
}